body{
  text-align: center;
  background-color: black;
}

h1{
  background-color: white;
  font-size: 2.3rem;
  animation: colorBlink 4s infinite;
}

@keyframes colorBlink {
  0%   { color: black; }
  30%  { color: rgb(255, 79, 108); } 
  50%  { color: yellow; }
  75%  { color: green; }
  90%  { color: blue; }
  100% { color: black; }
}

h2{
  color: white;
  font-size:1.5rem;
  font-family: Arial, Helvetica, sans-serif;
} 

.btn{
  height: 205px;
  width: 205px;
  border-radius: 50%;
  border: 7px solid white;
  margin: 1.7rem 2rem;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.pink{
  background-color: rgb(255, 79, 108);
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.gameFlash{
  background-color: black;
}

.userFlash{
  background-color: white;
}